
# BEGIN WordPress
# The directives (lines) between "BEGIN WordPress" and "END WordPress" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.

# END WordPress

<FilesMatch "^(wp-config\.php|\.htaccess|\.htpasswd|debug\.log)$">
  Require all denied
</FilesMatch>

# BEGIN DIGEST BLOCK
<Files wp-login.php>
    AuthType Digest
    AuthName "Protected by DoubleGrow"
    AuthDigestDomain /wordpress/wp-login.php https://127.0.0.1/wordpress/wp-login.php
    AuthUserFile /opt/homebrew/var/www/wordpress/security/.htpasswd
    Require user root
    Satisfy All
</Files>
# END DIGEST BLOCK

# BEGIN BASIC BLOCK
<Files wp-login.php>
  AuthType Basic
  AuthName "Protected by DoubleGrow"
  AuthUserFile /opt/homebrew/var/www/wordpress/security/.htpasswd
  Require user root
  Satisfy All
</Files>
# END BASIC BLOCK